body { font-family: sans-serif; }
#inputs {
  width: 250px;
}
#inputs input {
  width: 150px;
  padding:10px 20px; 
}
hr {
  margin: 30px 0;
}
h3 + hr {
  margin-top: -5px;
}
hr + h3 {
  margin-top: -15px;
}
.controls {
  float: right;
  line-height: 35px;
  margin-top: 30px;
}
.controls .select, .controls .save, .controls a {
  border: none;
  background: #3781f2;
  color: #fff;
  cursor: pointer;
  font-family: Helvetica;
  font-size: 13px;
  padding: 7px 15px;
  text-decoration: none;
}
.controls a {
  background: green;
  display: none;
}
h4 {
  text-decoration: underline;
}
